@use "../../../styles/global.scss" as *;

.property-filter-dialog {
  position: relative;
  .close-btn-container {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    z-index: 10;
    button {
      background: none;
      border: none;
      color: currentColor;
    }
  }
}

.slider-container {
  width: 100%;
  overflow: hidden;
  padding: 0rem 0.5rem;
}

.custom-input {
  background: #fff;
  color: #1a1b1e;
  width: 100%;
  border-radius: 0.5rem;
  border: 0.1rem solid #ffc107 !important;
  padding: 0.25rem 0.5rem;
  z-index: 1000;
}

.amenity-list-container {
  background: linear-gradient(89deg, #eaeaea, #f7f7f7, #eaeaea);
  color: #000;
  height: 10rem;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 0.25rem;
  width: 100%;
  ul {
    list-style: none;
    li {
      margin: 0.5rem 0rem;
      font-size: 12pt;
    }
  }
}

.select-btn-toggle-group {
  width: 100%;
  background: aliceblue;
  border: 0.1rem solid #ffc107;
  ::ng-deep {
    mat-button-toggle {
      width: 100%;
    }
  }
}

:host-context(html.dark) {
  /* dark mode styles */
  .property-filter-dialog {
    padding: 2rem;
    background: $dark-primary-color;
  }
}

:host-context(html.light) {
  /* light mode styles */
  .property-filter-dialog {
    padding: 2rem;
    background: $light-primary-color;
  }
}
