<app-notification></app-notification>
<app-progress-bar></app-progress-bar>
<div
  *ngIf="mode !== null"
  class="main-panel"
  [ngClass]="mode ? 'dark' : 'light'"
>
  <div class="container-fluid main-container">
    <div class="row panel-card property-bar">
      <div
        [ngClass]="
          LOGGED_USER?.role === 'admin'
            ? 'col-xl-10 position-relative'
            : 'col-xl-12'
        "
      >
        <div class="search-input-row">
          <input
            type="text"
            placeholder="Search property title, country, or status..."
            class="search-input"
            name="search"
            [(ngModel)]="search"
            (ngModelChange)="searchProperties($event)"
          />
          <div class="search-button-row">
            <button
              type="button"
              Mat-button
              [ngClass]="isLoading ? 'search-button-rotate' : ''"
              class="search-button-reset"
              (click)="resetFilter()"
            >
              <!-- <mat-icon class="" svgIcon="reset"></mat-icon> -->
              <i class="fa-solid fa-rotate"></i>
            </button>

            <button
              type="button"
              Mat-button
              class="search-button-filter"
              (click)="openFilter()"
            >
              <mat-icon class="" svgIcon="filter"></mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div
        *ngIf="isUserCanCreateProperty()"
        [ngClass]="
          isUserCanCreateProperty()
            ? 'col-xl-2 d-flex justify-content-end align-items-center'
            : 'd-none'
        "
      >
        <button
          class="add-user-btn btn-warning"
          type="button"
          (click)="propertyListing()"
        >
          <mat-icon class="mat-icon-rtl-mirror" svgIcon="listing"></mat-icon>
          <span class="mb-0 p-0">Listing</span>
        </button>
      </div>
    </div>

    <!-- View Style -->
    <div
      class="row d-flex justify-content-end align-items-center style-btn-row"
    >
      <div class="col-2 d-flex justify-content-end align-items-center">
        <button
          type="button"
          class="btn bg-none column-change-icons mx-2 my-0 p-0"
          (click)="convertTheViewStyle('list')"
        >
          <mat-icon class="mat-icon-rtl-mirror" svgIcon="list"></mat-icon>
        </button>
        <button
          type="button"
          class="btn bg-none column-change-icons mx-2 my-0 p-0"
          (click)="convertTheViewStyle('grid')"
        >
          <mat-icon
            class="mat-icon-rtl-mirror"
            svgIcon="lineColumns"
          ></mat-icon>
        </button>
      </div>
    </div>
    <!-- End View Style -->

    <!-- Property View Card -->
    <div
      class="user-scroll-wrapper"
      *ngIf="properties.length > 0 && isListView && !noProperties"
    >
      <div class="user-container">
        <app-property-view-card
          *ngFor="let property of properties"
          [ngClass]="isColView ? 'col-xl-4 my-2' : 'col-xl-12'"
          [property]="property"
          [isColView]="isColView"
          [isListView]="isListView"
          (propertyDeleted)="onPropertyDeleted($event)"
        ></app-property-view-card>
      </div>
    </div>
    <!-- End Property View Card -->

    <div
      class="user-scroll-wrapper"
      *ngIf="properties.length > 0 && isColView && !noProperties"
    >
      <div class="user-container">
        <div class="row">
          <app-property-view-card
            *ngFor="let property of properties"
            [ngClass]="isColView ? 'col-xl-4 my-2' : 'col-xl-12'"
            [property]="property"
            [isColView]="isColView"
            [isListView]="isListView"
            (propertyDeleted)="onPropertyDeleted($event)"
          ></app-property-view-card>
        </div>
      </div>
    </div>

    <div
      class="row d-flex justify-content-center align-items-center mt-4"
      *ngIf="properties.length > 0 && !noProperties"
    >
      <div class="col-xl-6 d-flex justify-content-center align-items-center">
        <ul class="pagination-list-group" *ngIf="pageCount > 1">
          <li class="pagination-list-group-item">
            <button class="btn-custom" type="button" (click)="previousPage()">
              &laquo;
            </button>
          </li>
          <li
            *ngFor="let i of [].constructor(pageCount); let index = index"
            class="pagination-list-group-item"
          >
            <button
              [ngClass]="{
                'btn-custom': currentPage !== index + 1,
                'btn-warning': currentPage === index + 1
              }"
              type="button"
              (click)="changePage(index)"
            >
              {{ index + 1 }}
            </button>
          </li>
          <li class="pagination-list-group-item">
            <button class="btn-custom" type="button" (click)="nextPage()">
              &raquo;
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="row my-4" *ngIf="noProperties">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <h2 class="title bg-danger py-3 px-4">Couldn't find any properties!</h2>
      </div>
    </div>

    <div class="row" *ngIf="noProperties">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="image-container">
          <img src="/Images/System-images/noProperties.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mobile view -->
<div
  *ngIf="mode !== null"
  class="modile-view-pannel"
  [ngClass]="mode ? 'dark' : 'light'"
>
  <div class="container-fluid main-container">
    <!-- Top search section -->
    <div class="top-row">
      <!-- Search input row -->
      <div class="row">
        <div class="col-sm-12">
          <input
            type="text"
            placeholder="Search property title, country, or status..."
            class="search-input"
            name="search"
            [(ngModel)]="search"
            (ngModelChange)="searchProperties($event)"
          />
        </div>
      </div>
      <!-- End Search input row -->

      <!-- Search button row -->
      <div class="row d-flex justify-content-around align-items-center my-3">
        <div [ngClass]="LOGGED_USER?.role === 'admin' ? 'col-4' : 'col-6'">
          <button
            type="button"
            Mat-button
            class="btn-warning"
            (click)="openFilter()"
          >
            <mat-icon
              class="mat-icon-rtl-mirror filter-icon"
              svgIcon="filter"
            ></mat-icon>
          </button>
        </div>
        <div [ngClass]="LOGGED_USER?.role === 'admin' ? 'col-4' : 'col-6'">
          <button
            type="button"
            Mat-button
            class="btn-warning"
            (click)="resetFilter()"
          >
            <mat-icon
              class="mat-icon-rtl-mirror reset-icon"
              svgIcon="reset"
            ></mat-icon>
          </button>
        </div>
        <div *ngIf="LOGGED_USER?.role === 'admin'" class="col-4">
          <button
            class="add-user-btn btn-warning d-flex justify-content-center align-items-center"
            type="button"
            (click)="propertyListing()"
          >
            <mat-icon class="mat-icon-rtl-mirror" svgIcon="listing"></mat-icon>
          </button>
        </div>
      </div>
      <!-- End search button row -->
    </div>
    <!-- End top search section -->

    <!-- Property View Card -->
    <div class="user-scroll-wrapper" *ngIf="properties.length > 0">
      <div class="user-container">
        <div class="row">
          <div class="col-md-6 col-12" *ngFor="let property of properties">
            <app-property-view-card
              [property]="property"
              [isColView]="isColView"
              [isListView]="isListView"
              (propertyDeleted)="onPropertyDeleted($event)"
            ></app-property-view-card>
          </div>
        </div>
      </div>
    </div>
    <!-- End Property View Card -->

    <div class="row d-flex justify-content-center align-items-center mt-4">
      <div class="col-xl-6 d-flex justify-content-center align-items-center">
        <ul class="pagination-list-group" *ngIf="pageCount > 1">
          <li class="pagination-list-group-item">
            <button class="btn-custom" type="button" (click)="previousPage()">
              &laquo;
            </button>
          </li>
          <li
            *ngFor="let i of [].constructor(pageCount); let index = index"
            class="pagination-list-group-item"
          >
            <button
              [ngClass]="{
                'btn-custom': currentPage !== index,
                'btn-warning': currentPage === index
              }"
              type="button"
              (click)="changePage(index)"
            >
              {{ index + 1 }}
            </button>
          </li>
          <li class="pagination-list-group-item">
            <button class="btn-custom" type="button" (click)="nextPage()">
              &raquo;
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
