<app-notification></app-notification>
<app-progress-bar></app-progress-bar>
<div class="main-panel">
  <div class="container-fluid main-container">
    <!-- Search Top bar -->
    <div class="top-bar">
      <div class="search-container">
        <input
          type="text"
          #searchInput
          placeholder="Search..."
          class="search-input"
          name="search"
          [(ngModel)]="search"
          (ngModelChange)="searchProperties($event)"
        />

        <button
          type="button"
          class="filter-action"
          (click)="openFilter()"
          matTooltip="Filter property"
          matTooltipPosition="above"
        >
          <mat-icon>filter_list</mat-icon>
        </button>

        <button
          type="button"
          class="search-action"
          (click)="searchBtn()"
          matTooltip="Search property"
          matTooltipPosition="above"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div class="list-property">
        <button class="btn-warning" type="button" (click)="propertyListing()">
          <!-- <mat-icon svgIcon="add-new-user"></mat-icon> -->
          <mat-icon>home</mat-icon>
          <span class="btn-label">list</span>
        </button>
      </div>
    </div>
    <!-- top bar ended -->

    <!-- Layout Style -->
    <div
      class="row d-flex justify-content-end align-items-center my-3 layout-switch-btn"
    >
      <div class="col-12 d-flex justify-content-end align-items-center">
        <app-layout-switch-btn
          [value]="viewMode"
          (valueChange)="changeLayout($event)"
          [rowLabel]="'Row'"
          [colLabel]="'Column'"
        >
        </app-layout-switch-btn>
      </div>
    </div>
    <!-- End Layout Style -->

    @if (properties && properties.length > 0) {
    <div class="desktop">
      @if(!viewMode){ @for (property of properties; track $index; let i =
      $index) {
      <app-property-view-card
        [property]="property"
        [viewMode]="viewMode"
        [isLoading]="loading"
        [mode]="mode"
        (viewProperty)="viewProperty($event, property)"
        (editProperty)="editProperty($event, property)"
        (deleteProperty)="deleteProperty($event, property)"
      ></app-property-view-card>
      } } @else {
      <div class="properties-grid">
        @for (property of properties; track $index) {
        <app-property-view-card
          [property]="property"
          [viewMode]="viewMode"
          [isLoading]="loading"
          [mode]="mode"
          (viewProperty)="viewProperty($event, property)"
          (editProperty)="editProperty($event, property)"
          (deleteProperty)="deleteProperty($event, property)"
        ></app-property-view-card>
        }
      </div>
      }
    </div>

    <!-- This for only for the mobile view -->
    <div class="mobile">
      <div class="properties-grid">
        @for (property of properties; track $index) {
        <app-property-view-card
          [property]="property"
          [viewMode]="viewMode"
          [isLoading]="loading"
          [mode]="mode"
          (viewProperty)="viewProperty($event, property)"
          (editProperty)="editProperty($event, property)"
          (deleteProperty)="deleteProperty($event, property)"
        ></app-property-view-card>
        }
      </div>
    </div>

    @if(isPaginationOn){
    <div class="pagination-row">
      <!-- Jump back 3 pages -->
      <button type="button" class="btn-warning" (click)="changePage(index - 3)">
        <i class="fa-solid fa-angles-left"></i>
      </button>

      <!-- Previous page -->
      <button type="button" class="btn-warning" (click)="changePage(index - 1)">
        <i class="fa-solid fa-angle-left"></i>
      </button>

      <!-- Page numbers -->
      @for (i of pageRange; track i) {
      <button
        [class.btn-warning]="i !== index"
        [class.btn-primary]="i === index"
        (click)="changePage(i)"
      >
        {{ i + 1 }}
      </button>
      }

      <!-- Next page -->
      <button
        type="button"
        class="btn-warning fw-bold d-flex justify-content-center align-items-center"
        (click)="changePage(index + 1)"
      >
        <i class="fa-solid fa-angle-right"></i>
      </button>

      <!-- Jump forward 3 pages -->
      <button
        type="button"
        class="btn-warning fw-bold"
        (click)="changePage(index + 3)"
      >
        <i class="fa-solid fa-angles-right"></i>
      </button>
    </div>
    } } @else {
    <div class="no-properties-container">
      <mat-icon class="no-users-icon" aria-hidden="true">location_off</mat-icon>
      <p class="no-users-text">
        {{
          search.length === 0
            ? "No properties currently registered."
            : search + " is not listed as registered property in the system."
        }}
      </p>
      <small class="no-users-subtext"
        >You can add a new property to get started.</small
      >
    </div>
    }
  </div>
</div>
