@if(property){
<!-- This view mode is for the row style -->
<!-- This is desktop view -->
<div class="desktop">
  @if(!viewMode){
  <div class="property property-row">
    <div class="first">
      <div class="property-image-container">
        @if(isLoading){
        <app-skeleton-loader
          [width]="'20rem'"
          [height]="'20rem'"
        ></app-skeleton-loader>
        } @else {<img [src]="detectPropertyImage()" alt="property image" />}
      </div>
    </div>
    <div class="second">
      <div class="top">
        @if(isLoading){
        <app-skeleton-loader
          [width]="'30rem'"
          [height]="'18pt'"
        ></app-skeleton-loader>
        } @else {
        <h4 class="text-default text-wrap-safe">{{ property.title }}</h4>
        }
      </div>
      <div class="middle">
        @if(isLoading){
        <app-skeleton-loader
          [width]="'100%'"
          [height]="'12pt'"
          [borderRadius]="'0.25rem'"
        ></app-skeleton-loader>
        <app-skeleton-loader
          [width]="'75%'"
          [height]="'12pt'"
          [borderRadius]="'0.25rem'"
        ></app-skeleton-loader>
        <app-skeleton-loader
          [width]="'50%'"
          [height]="'12pt'"
          [borderRadius]="'0.25rem'"
        ></app-skeleton-loader>
        } @else {
        {{ filterPortionOfDescription(property) }}
        }
      </div>
      <div class="bottom">
        <div class="first">
          <span>
            @if (isLoading) {
            <app-skeleton-loader
              [width]="'1.5rem'"
              [height]="'1.5rem'"
              [borderRadius]="'0.25rem'"
            ></app-skeleton-loader>
            } @else {
            <mat-icon
              [matTooltip]="makeUppercase(property.type).trim()"
              matTooltipPosition="above"
              [class]="`property-chip type-${property.type} cursor-pointer`"
            >
              {{ detectTypeIcon(property).trim() }}
            </mat-icon>
            }
          </span>
        </div>
        <div class="second">
          <span class="text-muted">
            @if (isLoading) {
            <app-skeleton-loader
              [width]="'10rem'"
              [height]="'12pt'"
              [borderRadius]="'0.25rem'"
            ></app-skeleton-loader>
            } @else{ Registered at:
            {{ property.createdAt | date : "dd/MM/yyyy hh.mm a" }}
            }
          </span>
        </div>
        <div class="third">
          <span class="text-muted">
            @if (isLoading) {
            <app-skeleton-loader
              [width]="'10rem'"
              [height]="'12pt'"
              [borderRadius]="'0.25rem'"
            ></app-skeleton-loader>
            } @else{ @if(property.createdAt !== property.updatedAt){ Updated at:
            {{ property.updatedAt | date : "dd/MM/yyyy hh.mm a" }}
            } @else { &nbsp; } }
          </span>
        </div>
      </div>
    </div>
    <div class="third">
      <div class="top">
        <button
          type="button"
          matTooltip="View property"
          matTooltipPosition="above"
          class="btn btn-view"
          (click)="viewPropertyFunction()"
        >
          <mat-icon>visibility</mat-icon>
        </button>
      </div>
      <div class="middle">
        <button
          type="button"
          matTooltip="Edit property"
          matTooltipPosition="above"
          class="btn btn-warning"
          (click)="editPropertyFunction()"
        >
          <mat-icon>create</mat-icon>
        </button>
      </div>
      <div class="bottom">
        <button
          type="button"
          matTooltip="Delete property"
          matTooltipPosition="above"
          class="btn btn-danger"
          (click)="deletePropertyFunction()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  }
  <!-- This view mode type for thee column style -->
  @else {
  <div class="property property-card">
    <div class="first">
      <div class="property-image-container">
        @if (isLoading) {
        <app-skeleton-loader
          [width]="'100%'"
          [height]="'100%'"
        ></app-skeleton-loader>
        } @else {
        <img [src]="detectPropertyImage()" alt="property image" />
        }
      </div>
    </div>

    <div class="second">
      <div class="top">
        @if (isLoading) {
        <app-skeleton-loader
          [width]="'70%'"
          [height]="'18pt'"
        ></app-skeleton-loader>
        } @else {
        <h4 class="text-default text-center m-0 text-wrap-safe">
          {{ property.title }}
        </h4>
        }
      </div>

      <div class="middle">
        @if (isLoading) {
        <app-skeleton-loader
          [width]="'100%'"
          [height]="'12pt'"
          [borderRadius]="'0.25rem'"
        ></app-skeleton-loader>
        <app-skeleton-loader
          [width]="'80%'"
          [height]="'12pt'"
          [borderRadius]="'0.25rem'"
        ></app-skeleton-loader>
        <app-skeleton-loader
          [width]="'60%'"
          [height]="'12pt'"
          [borderRadius]="'0.25rem'"
        ></app-skeleton-loader>
        } @else {
        {{ filterPortionOfDescription(property) }}
        }
      </div>

      <div class="bottom meta">
        <span>
          @if(isLoading){
          <app-skeleton-loader
            [width]="'2rem'"
            [height]="'2rem'"
            [borderRadius]="'0.25rem'"
          ></app-skeleton-loader>
          } @else {
          <mat-icon
            [matTooltip]="makeUppercase(property.type).trim()"
            matTooltipPosition="above"
            [class]="`property-chip type-${property.type} cursor-pointer`"
          >
            {{ detectTypeIcon(property).trim() }}
          </mat-icon>
          }
        </span>
        <span class="text-muted">
          @if(isLoading){
          <app-skeleton-loader
            [width]="'10rem'"
            [height]="'12pt'"
            [borderRadius]="'0.25rem'"
          ></app-skeleton-loader>
          } @else {
          {{ property.createdAt | date : "dd/MM/yyyy hh.mm a" }}
          }
        </span>
      </div>
    </div>

    <div class="third actions">
      <button
        type="button"
        matTooltip="View property"
        matTooltipPosition="above"
        class="btn btn-view"
        (click)="viewPropertyFunction()"
      >
        <mat-icon>visibility</mat-icon>
      </button>
      <button
        type="button"
        matTooltip="Edit property"
        matTooltipPosition="above"
        class="btn btn-warning"
        (click)="editPropertyFunction()"
      >
        <mat-icon>create</mat-icon>
      </button>
      <button
        type="button"
        matTooltip="Delete property"
        matTooltipPosition="above"
        class="btn btn-danger"
        (click)="deletePropertyFunction()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  }
  <!-- End desktop view -->
</div>
<div class="mobile">
  <!-- This is mobile view -->
  <div class="property property-card">
    <div class="first">
      <div class="property-image-container">
        @if (isLoading) {
        <app-skeleton-loader
          [width]="'100%'"
          [height]="'100%'"
        ></app-skeleton-loader>
        } @else {
        <img [src]="detectPropertyImage()" alt="property image" />
        }
      </div>
    </div>

    <div class="second">
      <div class="top">
        @if (isLoading) {
        <app-skeleton-loader
          [width]="'70%'"
          [height]="'18pt'"
        ></app-skeleton-loader>
        } @else {
        <h4 class="text-default text-center m-0 text-wrap-safe">
          {{ property.title }}
        </h4>
        }
      </div>

      <div class="middle">
        @if (isLoading) {
        <app-skeleton-loader
          [width]="'100%'"
          [height]="'12pt'"
          [borderRadius]="'0.25rem'"
        ></app-skeleton-loader>
        <app-skeleton-loader
          [width]="'80%'"
          [height]="'12pt'"
          [borderRadius]="'0.25rem'"
        ></app-skeleton-loader>
        <app-skeleton-loader
          [width]="'60%'"
          [height]="'12pt'"
          [borderRadius]="'0.25rem'"
        ></app-skeleton-loader>
        } @else {
        {{ filterPortionOfDescription(property) }}
        }
      </div>

      <div class="bottom meta">
        <span>
          @if(isLoading){
          <app-skeleton-loader
            [width]="'2rem'"
            [height]="'2rem'"
            [borderRadius]="'0.25rem'"
          ></app-skeleton-loader>
          } @else {
          <mat-icon
            [matTooltip]="makeUppercase(property.type).trim()"
            matTooltipPosition="above"
            [class]="`property-chip type-${property.type} cursor-pointer`"
          >
            {{ detectTypeIcon(property).trim() }}
          </mat-icon>
          }
        </span>
        <span class="text-muted">
          @if(isLoading){
          <app-skeleton-loader
            [width]="'10rem'"
            [height]="'12pt'"
            [borderRadius]="'0.25rem'"
          ></app-skeleton-loader>
          } @else {
          {{ property.createdAt | date : "dd/MM/yyyy hh.mm a" }}
          }
        </span>
      </div>
    </div>

    <div class="third actions">
      <button
        type="button"
        matTooltip="View property"
        matTooltipPosition="above"
        class="btn btn-view"
        (click)="viewPropertyFunction()"
      >
        <mat-icon>visibility</mat-icon>
      </button>
      <button
        type="button"
        matTooltip="Edit property"
        matTooltipPosition="above"
        class="btn btn-warning"
        (click)="editPropertyFunction()"
      >
        <mat-icon>create</mat-icon>
      </button>
      <button
        type="button"
        matTooltip="Delete property"
        matTooltipPosition="above"
        class="btn btn-danger"
        (click)="deletePropertyFunction()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
<!-- End mobile view -->
}
