@use "../../styles/global.scss" as *;
@use "sass:color";

.main-panel-mobile {
  display: none;
}

.card-body {
  width: 100%;
}

.property-title,
.property-location {
  flex: 1 1 15rem; /* Grow and shrink, base 15rem */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.property-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  min-height: 25vh;
  height: 100%;
  max-height: 50vh;
  .property-image {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: center;
    box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.1);
  }
}

.card-footer {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  .action-btn-row {
    margin-bottom: 1rem;
  }
}

.property-bar,
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 0.372rem;
  padding: 1rem;
  height: 100%;
  position: relative;

  mat-icon {
    ::ng-deep svg {
      fill: currentColor;
      ::ng-deep rect {
        fill: transparent;
      }
      ::ng-deep path {
        fill: currentColor;
      }
    }
  }
  h6 {
    margin-top: 0.3rem;
  }

  &.dark {
    background-color: $dark-primary-color;
    box-shadow: 0rem 0rem 1rem 0rem $dark-secondary-color;
    color: $dark-text-color;
    .add-user-btn {
      background: $dark-primary-color;
      box-shadow: $dark-dashboard-dark-color;
    }
  }

  &.light {
    background-color: #ffe394;
    box-shadow: 0rem 0rem 1rem 0rem #a3a3a3;
    color: $light-text-color;
    .add-user-btn {
      background: $light-primary-color;
      box-shadow: $light-dashboard-dark-color;
    }
  }
}

@media (max-width: 1024px) {
  .property-bar {
    display: none;
  }
  .main-panel-mobile {
    display: block;
    width: 100%;
    margin: 1rem 0rem;

    &.dark {
      background: linear-gradient(
        145deg,
        $dark-secondary-color,
        color.adjust($dark-secondary-color, $lightness: 2%)
      );
      color: $dark-text-color;
      .card {
        background-color: $dark-primary-color;
        box-shadow: 0rem 0rem 1rem 0rem $dark-secondary-color;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        color: #fff;
      }

      .btn-view,
      .btn-edit,
      .btn-delete {
        mat-icon {
          ::ng-deep svg {
            fill: currentColor;
            ::ng-deep rect {
              fill: transparent;
            }
            ::ng-deep path {
              fill: currentColor;
            }
          }
        }
      }
    }

    &.light {
      background: linear-gradient(
        145deg,
        $light-primary-color,
        color.adjust($light-primary-color, $lightness: 2%)
      );
      color: $light-text-color;
      .card {
        background-color: $light-primary-color;
        box-shadow: 0rem 0rem 1rem 0rem $light-secondary-color;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        color: #000000;
      }
    }
  }
}
