@use "../../styles/global.scss" as *;
@use "sass:color";

.main-panel {
  border-radius: 20px;
  padding: 2rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  min-height: 85vh;

  &.dark {
    background: linear-gradient(
      145deg,
      $dark-secondary-color,
      color.adjust($dark-secondary-color, $lightness: 2%)
    );
    color: $dark-text-color;
  }

  &.light {
    background: linear-gradient(
      145deg,
      $light-primery-color,
      color.adjust($light-primery-color, $lightness: 2%)
    );
    color: $light-text-color;
  }

  h2 {
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p {
    font-size: 16px;
  }
}
