<div
  *ngIf="mode !== null"
  class="main-panel"
  [ngClass]="mode ? 'dark' : 'light'"
>
  <!-- top means hear -->
  <div class="container-fluid main-container">
    <!-- I need to make this top row appire in top when the page scroll down -->
    <div class="row add-user-row top-row">
      <div
        [ngClass]="
          LOGGED_USER?.role === 'admin'
            ? 'col-md-10 position-relative'
            : 'col-md-12'
        "
      >
        <input
          type="text"
          placeholder="Search user by name, email, or username"
          class="search-input"
          (input)="searchUsers($event)"
        />
        <mat-icon
          class="mat-icon-rtl-mirror search-icon"
          svgIcon="search"
        ></mat-icon>
      </div>
      <div
        *ngIf="LOGGED_USER?.role === 'admin'"
        [ngClass]="
          LOGGED_USER?.role === 'admin'
            ? 'col-md-2 d-flex justify-content-end align-items-center'
            : 'd-none'
        "
      >
        <button class="add-user-btn" type="button" (click)="addUser()">
          <mat-icon
            class="mat-icon-rtl-mirror"
            svgIcon="add-new-user"
          ></mat-icon>
          <h6 class="mb-0 p-0">Add user</h6>
        </button>
      </div>
    </div>
    <!-- top bar ended -->
    <!-- This user container should scrollable -->
    <div class="user-scroll-wrapper">
      <div class="user-container">
        <div class="row add-user-row" *ngFor="let user of users; let i = index">
          <div class="col-md-4">
            <app-skeleton-loader
              *ngIf="loading"
              [width]="'100px'"
              [height]="'100px'"
              borderRadius="100px"
              [Mode]="mode"
            />
            <img
              *ngIf="!loading"
              class="user-image-main"
              [src]="user.image"
              alt="user image"
            />
          </div>
          <div
            class="col-md-4 d-flex flex-column justify-content-center overflow-hidden"
          >
            <app-skeleton-loader
              *ngIf="loading"
              [width]="'25rem'"
              [height]="'1.5rem'"
              borderRadius="0.357rem"
              [Mode]="mode"
            />
            <h5 *ngIf="!loading">
              {{ user.name }}
            </h5>
            <app-skeleton-loader
              *ngIf="loading"
              [width]="'25rem'"
              [height]="'0.75rem'"
              borderRadius="0.357rem"
              [Mode]="mode"
            />
            <p *ngIf="!loading" class="text-muted-custom pb-1 mb-1">
              {{ user.email }}
            </p>
            <app-skeleton-loader
              *ngIf="loading"
              [width]="'25rem'"
              [height]="'0.75rem'"
              borderRadius="0.357rem"
              [Mode]="mode"
            />
            <p *ngIf="!loading" class="text-muted-custom pb-1 mb-1">
              {{ user.phoneNumber }}
            </p>
            <app-skeleton-loader
              *ngIf="loading"
              [width]="'25rem'"
              [height]="'0.75rem'"
              borderRadius="0.357rem"
              [Mode]="mode"
            />
            <p
              *ngIf="!loading"
              class="text-muted-custom pb-1 mb-1 text-capitalize"
            >
              {{ user.role }}
              <i
                [ngClass]="user.isActive ? 'text-success' : 'text-danger'"
                class="fa-solid fa-circle"
              ></i>
            </p>
          </div>
          <div class="col-md-4 d-flex justify-content-end align-items-center">
            <button
              class="btn btn-success bg-success me-2 btn-view"
              type="button"
              (click)="viewUser(user.username)"
            >
              <mat-icon class="mat-icon-rtl-mirror" svgIcon="view"></mat-icon>
            </button>
            <button
              *ngIf="LOGGED_USER?.role === 'admin'"
              class="btn btn-warning bg-warning mx-2 btn-edit"
              type="button"
            >
              <mat-icon class="mat-icon-rtl-mirror" svgIcon="edit"></mat-icon>
            </button>
            <button
              *ngIf="LOGGED_USER?.role === 'admin'"
              class="btn btn-danger bg-danger ms-2 btn-delete"
              type="button"
            >
              <mat-icon class="mat-icon-rtl-mirror" svgIcon="delete"></mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- user container ended -->
    <!-- do not do any thing to here after -->
    <div class="row d-flex justify-content-center align-items-center mt-4">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <ul
          class="pagination-list-group"
          *ngIf="pageCount !== null && pageCount > 1"
        >
          <li class="pagination-list-group-item">
            <button
              class="pagination-btn btn-custom"
              type="button"
              (click)="previousPage()"
            >
              &laquo;
            </button>
          </li>
          <li
            *ngFor="let i of [].constructor(pageCount); let index = index"
            class="pagination-list-group-item"
          >
            <button
              class="pagination-btn btn-custom"
              type="button"
              (click)="changePage(index)"
            >
              {{ index + 1 }}
            </button>
          </li>
          <li class="pagination-list-group-item">
            <button
              class="pagination-btn btn-custom"
              type="button"
              (click)="nextPage()"
            >
              &raquo;
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
