<div
  *ngIf="mode !== null && user !== null && LOGGED_USER !== null"
  class="main-panel"
  [ngClass]="mode ? 'dark' : 'light'"
>
  <div class="container-fluid">
    <!-- page indicator -->
    <div class="row page-indecator">
      <span
        ><button type="button" class="page-indicator-btn" (click)="goToUsers()">
          Users
        </button>
        <i class="fa-solid fa-angle-right my-2"></i
        ><button type="button" class="page-indicator-btn" (click)="goToUser()">
          {{ user.name }}
        </button>
      </span>
    </div>
    <!-- end page indicator -->
    <!-- user-image row -->
    <div class="row user-image-row">
      <button
        type="button"
        class="btn-warning"
        *ngIf="isUserCanEdit"
        (click)="editUser()"
      >
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
      <div
        class="col-xl-12 d-flex justify-content-center align-items-center mt-5"
      >
        <div class="image-container">
          <app-skeleton-loader
            *ngIf="isLoading"
            [width]="'10rem'"
            [height]="'10rem'"
            [Mode]="mode"
            [borderRadius]="'50%'"
          ></app-skeleton-loader>
          <img
            *ngIf="!isLoading"
            [src]="definedImage"
            class="user-image"
            alt="user image"
          />
        </div>
      </div>
    </div>
    <!-- end user-image row -->
    <!-- tabs -->
    <div
      class="row mt-4 tab-row"
      [ngClass]="isListPanelOpen ? 'tab-row-active' : ''"
    >
      <div
        class="col-xl-12 overflow-hidden d-flex flex-wrap justify-content-start align-items-center p-0"
      >
        <button type="button" class="list-btn" (click)="toggleListPanel()">
          <i
            [ngClass]="
              isListPanelOpen ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'
            "
          ></i>
        </button>
        <ul class="tab-list" [ngClass]="isListPanelOpen ? 'active' : ''">
          <li class="tab-list-item" [class.active]="isInfoPanelOpen">
            <button
              class="tab-list-item-btn"
              (click)="goToInfomation()"
              #tabButton
            >
              Informations
            </button>
          </li>
          <li
            *ngIf="LOGGED_USER.role === 'admin'"
            class="tab-list-item"
            [class.active]="isAccessibilityPanelOpen"
          >
            <button
              class="tab-list-item-btn"
              (click)="goToAccessibility()"
              #tabButton
            >
              Accessibilite
            </button>
          </li>
          <li
            *ngIf="
              LOGGED_USER.role === 'admin' ||
              LOGGED_USER.role === 'agent' ||
              LOGGED_USER.role === 'operator' ||
              LOGGED_USER.role === 'manager'
            "
            class="tab-list-item"
            [class.active]="isDocumentsPanelOpen"
          >
            <button
              class="tab-list-item-btn"
              (click)="goToDocuments()"
              #tabButton
            >
              Documents
            </button>
          </li>
          <li
            *ngIf="LOGGED_USER.role === 'admin'"
            class="tab-list-item"
            [class.active]="isActivitiesPanelOpen"
          >
            <button
              class="tab-list-item-btn"
              (click)="goToActivities()"
              #tabButton
            >
              Activities
            </button>
          </li>
        </ul>
      </div>
    </div>

    <!-- Data row -->
    <div class="row mt-5">
      <div class="col-xl-12">
        <app-user-informations
          *ngIf="isInfoPanelOpen"
          [user]="user"
        ></app-user-informations>
        <app-accessabilities
          *ngIf="isAccessibilityPanelOpen && LOGGED_USER.role === 'admin'"
          [user]="user"
        ></app-accessabilities>
        <app-documents
          *ngIf="
            isDocumentsPanelOpen &&
            (LOGGED_USER.role === 'admin' ||
              LOGGED_USER.role === 'agent' ||
              LOGGED_USER.role === 'operator' ||
              LOGGED_USER.role === 'manager')
          "
          [user]="user"
        ></app-documents>
        <app-activities
          *ngIf="isActivitiesPanelOpen && LOGGED_USER.role === 'admin'"
          [user]="user"
        ></app-activities>
      </div>
    </div>
  </div>
</div>
