<app-notification-dialog></app-notification-dialog>
<app-progress-bar />

<div class="main-panel">
  <div class="container-fluid">
    @if(!isAllowed){
    <!-- Tenant Section -->
    <div class="row mb-4">
      <div class="col-xl-12">
        <h1 class="title">Tenant</h1>
      </div>
    </div>

    @if(leaseTableDisplay){
    <app-custom-table
      [(isReload)]="isLoading"
      [pagination]="true"
      [(limit)]="leaseTablePageSize"
      [(index)]="leaseTablePageIndex"
      [tableTitle]="leaseTableTitle"
      [(search)]="leaseTabletSearch"
      [buttons]="leaseActionButtons"
      [fileExportExtention]="leaseFileExtension"
      (fileExport)="handleExportLeaseTableData($event)"
      (buttonOperation)="handleLeaseOperations($event)"
      [data]="leaseTableData"
      [columns]="leaseTableColumns"
      [totalDataCount]="leaseTotalDataCount"
    ></app-custom-table>
    } } @else {
    <div class="row mb-4">
      <div class="col-xl-12">
        <h1 class="title">Admin Operation</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <!-- End Tenant Section -->
        <hr class="my-5" />
        <!-- Admin Section -->
      </div>
    </div>

    @if(adminTableDisplay){
    <app-custom-table
      [(isReload)]="isLoading"
      [pagination]="true"
      [(limit)]="adminPageSize"
      [(index)]="adminPageIndex"
      [tableTitle]="adminTableTitle"
      [(search)]="adminSearch"
      [buttons]="adminActionButtons"
      (buttonOperation)="adminActionButtonCenter($event)"
      [totalDataCount]="adminTotalDataCount"
      [fileExportExtention]="adminFileExportExtension"
      [data]="adminData"
      [columns]="adminColumns"
      (fileExport)="handleFileExport($event, 'Admin')"
    ></app-custom-table>
    }

    <div class="row">
      <div class="col-12">
        <!-- End Tenant Section -->
        <hr class="my-5" />
        <!-- Admin Section -->
      </div>
    </div>

    @if(tenantTableDisplay){
    <app-custom-table
      [(isReload)]="isLoading"
      [pagination]="true"
      [(limit)]="tenantPageSize"
      [(index)]="tenantPageIndex"
      [tableTitle]="tenantTableTitle"
      [(search)]="tenantSearch"
      [buttons]="tenantActionButtons"
      (buttonOperation)="tenantActionButtonCenter($event)"
      [totalDataCount]="tenantTotalDataCount"
      [fileExportExtention]="tenantFileExportExtension"
      [data]="tenantData"
      [columns]="tenantColumns"
      (fileExport)="handleFileExport($event, 'Tenant')"
    ></app-custom-table>
    }
    <!-- End admin section -->
    }
  </div>
</div>
