<app-notification></app-notification>
<div class="container-fluid position-relative h-100">
  <button type="button" class="pannel-close-btn" (click)="pannelClose()">
    <i class="fa-solid fa-xmark"></i>
  </button>

  <!-- Lease Agreement PDF Viewer -->
  <ng-container *ngIf="isLoading; else pdfViewer">
    <div class="d-flex justify-content-center align-items-center h-100">
      <mat-spinner></mat-spinner>
      <p class="ms-3">Loading...</p>
    </div>
  </ng-container>

  <ng-template #pdfViewer>
    <ngx-extended-pdf-viewer
      *ngIf="pdfBlob"
      [src]="pdfBlob"
      useBrowserLocale="true"
      height="100vh"
      [showSidebarButton]="true"
      [showDownloadButton]="true"
      [showPrintButton]="true"
      [showPresentationModeButton]="true"
    ></ngx-extended-pdf-viewer>
  </ng-template>
</div>
