<app-notification></app-notification>
<app-progress-bar></app-progress-bar>
<div
  *ngIf="mode !== null"
  class="main-panel"
  [ngClass]="mode ? 'dark' : 'light'"
>
  <div class="container-fluid main-container">
    <div class="row property-bar top-row">
      <div
        [ngClass]="
          LOGGED_USER?.role === 'admin'
            ? 'col-md-10 position-relative'
            : 'col-md-12'
        "
      >
        <input
          type="text"
          placeholder="Search property title, country, or status..."
          class="search-input"
          (input)="searchProperties($event)"
        />
        <button
          type="button"
          Mat-button
          class="search-btn"
          class="btn filter-btn"
          (click)="openFilter()"
        >
          <mat-icon
            class="mat-icon-rtl-mirror filter-icon"
            svgIcon="filter"
          ></mat-icon>
        </button>

        <button
          type="button"
          Mat-button
          class="search-btn"
          class="btn reset-btn"
          (click)="resetFilter()"
        >
          <mat-icon
            class="mat-icon-rtl-mirror reset-icon"
            svgIcon="reset"
          ></mat-icon>
        </button>
      </div>
      <div
        *ngIf="LOGGED_USER?.role === 'admin'"
        [ngClass]="
          LOGGED_USER?.role === 'admin'
            ? 'col-md-2 d-flex justify-content-end align-items-center'
            : 'd-none'
        "
      >
        <button
          class="add-user-btn btn-edit"
          type="button"
          (click)="propertyListing()"
        >
          <mat-icon class="mat-icon-rtl-mirror" svgIcon="listing"></mat-icon>
          <h6 class="mb-0 p-0">Listing</h6>
        </button>
      </div>
    </div>

    <div class="user-scroll-wrapper" *ngIf="properties.length > 0">
      <div class="user-container">
        <app-property-view-card
          *ngFor="let property of properties"
          [property]="property"
          (propertyDeleted)="onPropertyDeleted($event)"
        ></app-property-view-card>
      </div>
    </div>
  </div>
</div>
