@use "../../../styles/global.scss" as *;

::ng-deep {
  .cdk-global-overlay-wrapper {
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap;
    align-items: center !important;
    .mat-mdc-dialog-container {
      width: 75vw;
    }
    .cdk-overlay-pane.mat-mdc-dialog-panel {
      max-width: 75vw !important;
      max-height: 85vh !important;
    }
  }
}

.close-btn {
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  top: 0;
  left: 100%;
  transform: translate(-150%, 5%);
  background: none;
  border: none;
  i{
    font-size: 2rem;
  }
}

.property-image-full-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.25rem;

  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.25rem;

    img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .property-image-overlay {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    background: linear-gradient(45deg, #ffffff73, #ffffff21);
    transition: all 0.3s ease;

    button {
      background: none;
      border: none;
      width: 5rem;
      height: 5rem;

      i {
        color: #fff !important;
        font-size: 5rem;
      }
    }
  }

  &:hover .property-image-overlay {
    top: 0;
    left: 0;
  }
}

::-webkit-scrollbar {
  display: none;
}

.image-indicator-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: auto;
  ul {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    li {
      position: relative;
      flex: 0 0 auto;
      width: 10rem;
      height: auto;
      margin: 0.25rem;
      border-radius: 0.25rem;
      overflow: hidden;
      cursor: pointer;
      .overlay {
        position: absolute;
        z-index: 1;
        background: #00000087;
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        &.active {
          border: 2px solid gold;
        }
      }
    }
  }
}

.controler-left,
.controler-right {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  button {
    height: 100%;
    width: 3rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
}

//dark
::ng-deep html.dark .mat-mdc-dialog-surface {
  background: $dark-primary-color !important;
}

:host-context(html.dark) {
  i {
    color: $light-primary-color !important;
  }

  .controler-left,
  .controler-right {
    button {
      background: $dark-btn-bg-color;
      i {
        color: #fff !important;
      }
    }
  }
}

:host-context(html.light) {
  i {
    color: $dark-primary-color !important;
  }

  .controler-left,
  .controler-right {
    button {
      background: $light-btn-bg-color;
      i {
        color: #fff !important;
      }
    }
  }
}

//light
::ng-deep html.light .mat-mdc-dialog-surface {
  background: $light-primary-color !important;
}
