<form action="" #pagination>
  <div class="row">
    <div class="col-xl-3 col-md-3 col-12">Total: {{ totalDataCount }}</div>
    <div class="col-xl-6 col-md-6 col-12">
      <div class="search-container">
        <input
          type="text"
          name="search"
          id="search"
          [(ngModel)]="search"
          class="search-input"
        />
        <button type="button" class="search-action">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-xl-3 col-md-3 col-12 action-buttons">
      
    </div>
  </div>
</form>
