@use "../../../styles/global.scss" as *;
@use "sass:color";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.main-panel {
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  min-height: 85vh;
  padding: 2rem;

  .page-indecator {
    position: absolute;
    top: 0%;
    left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    .page-indicator-btn {
      background: none;
      border: none;
      margin: 0 0.5rem;
      padding: 0;
      cursor: pointer;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 10pt;
    }
  }

  .slider-container {
    width: 100%;
    height: 75vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    overflow: hidden;
    border-radius: 0.25rem;
    .slider {
      position: absolute;
      width: 100%;
      height: 100%;
      display: grid;
      z-index: 1;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 1fr);
      .tile {
        // width: 10%; // based on 10 cols
        // height: 10%; // based on 10 rows
        float: left;
        // background-size: 100% 100%;
        transition: transform 0.5s ease, opacity 0.5s ease;
        &.fade-out {
          transform: scale(0) rotateY(90deg);
          animation: fadeOut 1s ease-in forwards;
        }
      }
      .fade-in {
        animation: fadeIn 1s ease-in forwards;
      }
    }

    .property-image-container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .controls {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      z-index: 10;
      button {
        border: none;
        width: auto;
        height: 75vh;
        padding: 0rem 1rem;
        background: #00000063;
      }
    }
  }

  .view-images-btn {
    ::ng-deep {
      mat-icon {
        width: 30px;
        height: 30px;
      }
    }
  }

  ::ng-deep mat-icon {
    svg {
      fill: currentColor;
      stroke: currentColor;
      path {
        fill: currentColor;
        stroke: currentColor;
      }
    }
  }

  ::ng-deep .maid-icon {
    svg {
      fill: currentColor;
      stroke: currentColor;
      path {
        fill: currentColor;
        stroke: currentColor;
        stroke-width: 0.25rem;
      }
    }
  }

  .country-flag{
    width: 3rem;
    height: auto;
    margin: 0rem 0.5rem;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }

  .porperty-specific-details {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    li {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      margin-right: 0.5rem;
      i {
        margin-right: 0.5rem;
      }
      mat-icon {
        margin-right: 0.5rem;
      }
    }
  }

  .user-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    .user-image {
      width: 6rem;
      height: 6rem;
      overflow: hidden;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &.dark {
    background: linear-gradient(
      145deg,
      $dark-secondary-color,
      color.adjust($dark-secondary-color, $lightness: 2%)
    );
    color: $dark-text-color;
    .page-indecator {
      color: #e8bd00;
      .page-indicator-btn {
        color: #e8bd00;
      }
    }

    .slider-container {
      background: #0c0e1a;
    }

    .view-images-btn {
      ::ng-deep {
        mat-icon {
          svg {
            fill: #fff !important;
            path {
              fill: #fff !important;
              stroke: #fff !important;
            }
          }
        }
      }
    }
    .user-card {
      background: linear-gradient(
        134deg,
        #0c1957 0%,
        #4400d0 30%,
        #43007a 100%
      );
      box-shadow: 0 0 0.5rem 0 #15141a63;
    }
  }

  &.light {
    background: linear-gradient(
      145deg,
      $light-primary-color,
      color.adjust($light-primary-color, $lightness: 2%)
    );
    color: $light-text-color;
    .page-indecator {
      color: #100a2b;
      .page-indicator-btn {
        color: #100a2b;
      }
    }

    .slider-container {
      background: #19171f;
    }
    .view-images-btn {
      ::ng-deep {
        mat-icon {
          svg {
            fill: #1a181d !important;
            path {
              fill: #1a181d !important;
              stroke: #1a181d !important;
            }
          }
        }
      }
    }
  }
}
