<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center my-3">
    <div class="col-md-12 position-relative">
      <input
        class="search-input"
        type="search"
        placeholder="Search the location..."
        #search
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchChange($event)"
      />
      <button
        type="button"
        class="btn btn-primary position-absolute top-0 end-0 search-btn"
      >
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
  <div
    *ngIf="isSearching"
    class="row d-flex justify-content-center align-items-center suggestion-row"
  >
    <div class="col-md-10 d-flex justify-content-center align-items-center">
      <ul class="autocomplete-list" [ngClass]="isSearching ? 'show' : 'hide'">
        <li
          *ngFor="let suggestion of suggestions"
          (click)="searchLocation(suggestion)"
        >
          {{ suggestion.description }}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="map-container">
        <div #map class="map"></div>
      </div>
    </div>
  </div>
</div>
