<app-notification-dialog></app-notification-dialog>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-xl-6 col-md-12 col-12">
      <h4 class="mb-3">Based on status</h4>
      @if(!chart){
      <app-skeleton-loader
        [height]="'20rem'"
        [width]="'100%'"
        [borderRadius]="'0.5rem'"
      >
      </app-skeleton-loader>
      } @else {
      <div class="gc-card">
        <google-chart
          [type]="chart.type"
          [columns]="chart.columns"
          [data]="chart.data"
          [options]="chart.options"
        >
        </google-chart>
      </div>
      }
    </div>
    <div class="col-xl-6 col-md-12 col-12">&nbsp;</div>
  </div>

  <div class="row">
    <app-custom-table
      [pagination]="true"
      [isDateRageActive]="true"
      [(dateRange)]="dateRange"
      [(index)]="index"
      [(limit)]="limit"
      [(search)]="search"
      [(isReload)]="isLoading"
      [columns]="columns"
      [data]="data"
      [tableTitle]="tableTitle"
      [totalDataCount]="total"
      [fileExportExtention]="extension"
      (fileExport)="exportToExcel()"
      (fetchData)="fetch()"
    ></app-custom-table>
  </div>
</div>
