<app-notification></app-notification>
<app-progress-bar></app-progress-bar>
<div class="container-fluid" *ngIf="mode !== null">
  <!-- table date picker row -->
  <form
    action=""
    method="GET"
    enctype="multipart/form-data"
    (ngSubmit)="search()"
    class="profile-form"
    autocomplete="off"
    #userForm="ngForm"
  >
    <div class="row mt-5 mb-1" *ngIf="loggedUser && user !== null">
      <h2 class="text-center my-2">User Login Records</h2>
      <h6 class="my-2 text-style">
        Search by dates | total records: {{ userLoggedTimes }}
      </h6>
      <!-- date pickers -->
      <div class="col-md-9">
        <div class="row">
          <div
            class="col-md-6 d-flex justify-content-center align-items-center"
          >
            <mat-form-field appearance="fill" class="form-field w-100">
              <mat-label [ngClass]="isLoggedTableEmpty ? 'text-danger' : ''">{{
                isLoggedTableEmpty ? "Click the reset" : "Select the start date"
              }}</mat-label>
              <input
                matInput
                [matDatepicker]="pickerStart"
                placeholder="Date Start"
                [(ngModel)]="startDate"
                name="startDate"
                [ngClass]="isLoggedTableEmpty ? 'text-danger' : ''"
                placeholder="DD/MM/YYYY"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="pickerStart"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
          </div>
          <div
            class="col-md-6 d-flex justify-content-center align-items-center"
          >
            <mat-form-field appearance="fill" class="form-field w-100">
              <mat-label [ngClass]="isLoggedTableEmpty ? 'text-danger' : ''">{{
                isLoggedTableEmpty ? "Click the reset" : "Select the end date"
              }}</mat-label>
              <input
                matInput
                [matDatepicker]="pickerEnd"
                placeholder="Date End"
                [(ngModel)]="endDate"
                [ngClass]="isLoggedTableEmpty ? 'text-danger' : ''"
                name="endDate"
                placeholder="DD/MM/YYYY"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="pickerEnd"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- date pickers end -->
      <!-- btns -->
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-4">
            <button
              type="submit"
              class="btn-custom w-100 date-picker-btn"
              mat-raised-button
              matTooltip="Search"
              matTooltipPosition="above"
              [disabled]="isLoggedTableEmpty"
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                svgIcon="search"
                class="search"
              ></mat-icon>
            </button>
          </div>
          <div class="col-md-4">
            <button
              type="button"
              class="btn-edit w-100 date-picker-btn"
              (click)="reset()"
              mat-raised-button
              matTooltip="Reset"
              matTooltipPosition="above"
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                svgIcon="reset"
              ></mat-icon>
            </button>
          </div>
          <div class="col-md-4">
            <button
              type="button"
              class="btn-view w-100 date-picker-btn"
              (click)="exportToExcel()"
              mat-raised-button
              matTooltip="Download to excel"
              matTooltipPosition="above"
              [disabled]="isLoggedTableEmpty"
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                class="excel"
                svgIcon="fileExcel"
              ></mat-icon>
            </button>
          </div>
        </div>
      </div>
      <!-- btns end -->
    </div>
  </form>

  <!-- table loader row -->
  <div class="row" *ngIf="userLoggedData && user !== null && isLoading">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <app-skeleton-loader
        [Mode]="mode"
        [width]="'30rem'"
        [height]="'21rem'"
        [borderRadius]="'3rem'"
      ></app-skeleton-loader>
    </div>
    <div class="col-md-6">
      <!-- loader -->
      <div
        class="table-responsive d-flex justify-content-center align-items-center"
      >
        <table class="w-100">
          <thead>
            <tr class="border-bottom-custom mt-3">
              <th class="w-50 text-default">IP Address</th>
              <th class="w-50 text-default">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let i of [].constructor(10); let idx = index"
              class="border-bottom-custom mt-3"
            >
              <td class="p-1">
                <app-skeleton-loader
                  [Mode]="mode"
                  [width]="'15rem'"
                  [height]="'1.5rem'"
                  [borderRadius]="'0.159rem'"
                ></app-skeleton-loader>
              </td>
              <td>
                <app-skeleton-loader
                  [Mode]="mode"
                  [width]="'15rem'"
                  [height]="'1.5rem'"
                  [borderRadius]="'0.159rem'"
                ></app-skeleton-loader>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- table data row -->
  <div
    class="row"
    *ngIf="userLoggedData && user !== null && !isLoggedTableEmpty && !isLoading"
  >
    <div
      class="col-md-6 d-flex justify-content-center align-items-center"

    >
      <div class="chart-wrapper w-100">
        <h5 class="mb-3 text-uppercase">User Login Comparison</h5>
        
      </div>
    </div>
    <div class="col-md-6">
      <!-- data -->
      <div
        class="table-responsive d-flex justify-content-center align-items-center"
      >
        <table
          mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8"
          matSort
          (matSortChange)="sortData($event)"
        >
          <ng-container matColumnDef="IP Address">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header="ip_address"
              class="w-50 text-default text-center"
            >
              IP Address
            </th>
            <td mat-cell *matCellDef="let element" class="text-default">
              {{ element.ip }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Date">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header="date"
              class="w-50 text-default text-center"
            >
              Date
            </th>
            <td mat-cell *matCellDef="let element" class="text-default">
              {{ element.date | date : "'MMMM d, y HH:mm:ss" }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns"
            class="text-default border-bottom-custom"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            class="text-default border-bottom-custom"
          ></tr>
        </table>
      </div>
    </div>
  </div>

  <!-- pagination row -->
  <div
    class="row"
    *ngIf="
      userLoggedData &&
      user !== null &&
      !isLoggedTableEmpty &&
      !isPaginationOpen
    "
  >
    <div class="col-md-12">
      <!-- pagination -->
      <div class="row mt-4">
        <div class="col-md-12">
          <ul class="pagination justify-content-center d-flex">
            <li class="d-flex justify-content-center align-items-center">
              <button
                type="button"
                class="page-item-btn btn-custom w-100 h-75 fw-bold"
                (click)="goThreePagesBack()"
              >
                <i class="fa fa-angle-double-left"></i>
              </button>
            </li>
            <li
              class="d-flex justify-content-center align-items-center"
              *ngFor="
                let i of [].constructor(getActualEnd() - getActualStart() + 1);
                let idx = index
              "
            >
              <button
                type="button"
                class="page-item-btn btn-custom w-100 h-75 fw-bold"
                [ngClass]="
                  getCurrentPage() === getActualStart() + idx
                    ? 'active'
                    : 'inactive'
                "
                (click)="goToThePage(getActualStart() + idx)"
              >
                {{ getActualStart() + idx }}
              </button>
            </li>
            <li class="d-flex justify-content-center align-items-center">
              <button
                type="button"
                class="page-item-btn btn-custom w-100 h-75 fw-bold"
                (click)="goThreePagesForward()"
              >
                <i class="fa fa-angle-double-right"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5" *ngIf="!isLoggedTableEmpty">
    <!-- User login campaire to the others according to the table -->

    <!-- User login campaire to the others at all time -->
  </div>

  <!-- No table data -->
  <div
    *ngIf="isLoggedTableEmpty"
    class="row mt-5 d-flex justify-content-center align-item-center"
  >
    <div class="col-md-8 d-flex justify-content-center align-item-center">
      <div class="">
        <h5 class="text-center text-uppercase" *ngIf="startDate && endDate">
          Logged Data Not Found between
          {{ startDate | date : "MMMM d, y" }} -
          {{ endDate | date : "MMMM d, y" }}
        </h5>
        <h5 class="text-center text-uppercase" *ngIf="!startDate && !endDate">
          Logged Data Not Found
        </h5>
        <div class="image-container">
          <img
            src="/Images/System-images/noActivities.jpg"
            alt="no activities image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
