<div class="main-container-of-side-panel">
  <div
    [ngClass]="isExpanded() ? 'side-panel' : 'side-panel side-panel-collapsed'"
  >
    <button
      mat-icon-button
      [ngClass]="isExpanded() ? 'expand-btn' : 'expand-btn expand-cllapse-btn'"
      (click)="togglePanel()"
    >
      <mat-icon>{{ isExpanded() ? "chevron_left" : "chevron_right" }}</mat-icon>
    </button>

    <!-- <h3 *ngIf="isExpanded()">Quick Actions</h3> -->
    <ul class="">
      <li class="m-0" *ngFor="let link of linkLists">
        <button
          mat-button
          (click)="navigateTo(link.url)"
          class="{{ currecntURL === link.url ? 'active' : '' }}"
          [ngClass]="
            isExpanded()
              ? 'd-flex justify-content-start align-items-center'
              : 'd-flex justify-content-center align-items-center btn-cllapse'
          "
        >
          <mat-icon
            matTooltip="{{ isExpanded() ? '' : link.toolTip }}"
            [svgIcon]="link.mat_icon"
            [ngClass]="isExpanded() ? '' : 'cllapse'"
          ></mat-icon>
          <span class="delay-expand">{{ link.icon_text }}</span>
        </button>
      </li>
    </ul>
  </div>
</div>
