@use "../../styles/global.scss" as *;

.main-container-of-side-panel {
  position: relative;
}

//Light mode
:host-context(html) {
  .side-panel {
    position: absolute;
    border-radius: 20px;
    padding: 2rem 1rem;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 85vh;
    overflow-x: hidden;
    background-color: $light-secondary-color;
    color: $light-text-color !important;
    &.side-panel-collapsed {
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }

  h3 {
    font-weight: 600;
    margin-bottom: 1.5rem;
    font-size: 20px;
    text-align: center;
  }

  ul {
    padding: 0;
    list-style: none;
    margin-top: 2rem;

    li {
      margin-bottom: 1rem;

      button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 500;
        font-size: 20px;
        padding: 10px;
        border-radius: 12px;
        transition: background-color 0.3s ease, color 0.3s ease;
        color: $light-text-color !important;
        &.btn-cllapse {
          font-size: 30px;
          width: 40px;
          height: 40px;
        }

        mat-icon {
          font-size: 20px;
          margin-right: 12px;
          color: $light-text-color !important;
          &.cllapse {
            font-size: 30px;
            height: 40px;
            width: 40px;
            margin: 0;
          }
        }

        span {
          transition: opacity 0.3s ease;
        }

        &:hover {
          background-color: rgba(255, 140, 0, 0.1);
        }
      }
    }
  }

  .expand-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: rgb(255 255 255 / 50%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    &.expand-cllapse-btn {
      right: auto !important;
    }

    mat-icon {
      color: $dark-third-color;
      &:hover {
        background: none;
      }
    }
  }
}

//Dark mode
:host-context(html.dark) {
  .side-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 20px;
    padding: 2rem 1rem;
    min-height: 85vh;
    overflow-x: hidden;
    background-color: $dark-secondary-color;
    color: $dark-text-color !important;
    &.side-panel-collapsed {
      display: flex;
      width: 100%;
      justify-content: center;
    }
    h3 {
      font-weight: 600;
      margin-bottom: 1.5rem;
      font-size: 20px;
      text-align: center;
    }

    ul {
      padding: 0;
      list-style: none;
      margin-top: 2rem;

      li {
        margin-bottom: 1rem;

        button {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-weight: 500;
          font-size: 20px;
          padding: 10px;
          border-radius: 12px;
          transition: background-color 0.3s ease, color 0.3s ease;
          color: $dark-text-color !important;
          &.btn-cllapse {
            font-size: 30px;
            width: 40px;
            height: 40px;
          }

          mat-icon {
            font-size: 19px;
            margin-right: 12px;
            color: $dark-text-color !important;
            &.cllapse {
              font-size: 30px;
              height: 40px;
              width: 40px;
              margin: 0;
            }
          }

          span {
            transition: opacity 0.3s ease;
          }

          &:hover {
            background-color: rgba(255, 140, 0, 0.1);
          }
        }
      }
    }

    .expand-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      &.expand-cllapse-btn {
        right: auto !important;
      }

      mat-icon {
        color: $dark-third-color;
        &:hover {
          background: none;
        }
      }

      &:hover {
        background-color: rgba(255, 140, 0, 0.2);
      }
    }
  }
}
