@use "../../styles/global.scss" as *;
@use "sass:color";

// Shared Glass Style
@mixin glassmorphic-bg($bg, $shadow) {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: $bg;
  box-shadow: 0 8px 32px 0 $shadow;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

// Keyframe
@keyframes slideFadeIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// Light Mode
:host-context(html.light) {
  height: 100vh;
  background: linear-gradient(
    135deg,
    $light-secondary-color,
    $light-primary-color
  ) !important;

  .main-container {
    @include glassmorphic-bg(rgb(255 186 0 / 18%), rgba(31, 38, 135, 0.1));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .image-container {
    width: 450px;
    height: 450px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 40px #ffd557;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 90%;
      height: auto;
    }
  }

  .login-form-container {
    width: 500px;
    padding: 40px;
    border-radius: 30px;
    @include glassmorphic-bg(rgb(255 204 0 / 14%), rgba(0, 0, 0, 0.2));

    .form {
      animation: slideFadeIn 0.7s ease-out;

      .form-field {
        width: 100%;
        margin-bottom: 20px;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        ::ng-deep .mdc-button__label {
          color: $light-text-color !important;
        }
      }

      .login-title {
        font-size: 24px;
        font-weight: 600;
        color: $light-fourth-color;
        margin-bottom: 5px;
      }

      .login-subtitle {
        font-size: 14px;
        color: $light-text-color;
        opacity: 0.75;
        margin-bottom: 30px;
      }
    }
  }
}

// Dark Mode
:host-context(html.dark) {
  height: 100vh;
  background: linear-gradient(135deg, #0e0e24, #1a1a40);

  .main-container {
    @include glassmorphic-bg(rgba(255, 255, 255, 0.03), rgba(31, 38, 135, 0.3));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .image-container {
    width: 450px;
    height: 450px;
    border-radius: 50px;
    background-color: rgb(8 18 47);
    box-shadow: 0 0 40px #ffbf0080;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 90%;
      height: auto;
    }
  }

  .login-form-container {
    width: 500px;
    padding: 40px;
    border-radius: 30px;
    @include glassmorphic-bg(rgb(8 25 76), rgba(255, 204, 0, 0.1));

    .form {
      animation: slideFadeIn 0.7s ease-out;

      .form-field {
        width: 100%;
        margin-bottom: 20px;

        ::ng-deep .mdc-line-ripple {
          background-color: $dark-third-color;
        }

        ::ng-deep .mdc-floating-label--float-above {
          color: $dark-third-color !important;
        }
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        ::ng-deep .mdc-button__label {
          color: $dark-text-color !important;
        }
      }

      .login-title {
        font-size: 24px;
        font-weight: 600;
        color: $dark-third-color;
        margin-bottom: 5px;
      }

      .login-subtitle {
        font-size: 14px;
        color: $dark-text-color;
        opacity: 0.75;
        margin-bottom: 30px;
      }

      .login-button {
        background-color: $dark-secondary-color;
        color: $dark-text-color;
        &:hover {
          background-color: color.adjust($dark-secondary-color, $lightness: 5%);
        }
      }

      .remember-me-checkbox {
        color: $dark-text-color !important;

        ::ng-deep .mdc-form-field {
          color: $dark-text-color;
        }

        ::ng-deep .mdc-checkbox__background {
          border-color: $dark-third-color;
        }

        ::ng-deep .mdc-checkbox__checkmark-path {
          stroke: $dark-third-color;
        }
      }
    }
  }
}

::ng-deep mat-checkbox.mat-checkbox-checked .mat-checkbox-background,
::ng-deep mat-checkbox.mat-accent .mat-checkbox-background {
  background-color: #ffcc00 !important; // your custom color
}

//Mobile view
@media (max-width: 1025px) {
  .main-row {
    display: flex 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-col {
    display: none !important;
  }
}

@media (max-width: 350px) {
  .login-form-container {
    padding: 1rem !important;
  }
}
