<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <h4 class="display-6">
        {{ title }}
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <p>{{ message }}</p>
    </div>
  </div>
  <div class="row d-flex justify-content-between align-item-center">
    <div class="col-6 d-flex justify-content-start align-item-center">
      <button type="button" class="btn-delete" (click)="cancel()">
        Cancel
      </button>
    </div>
    <div class="col-6 d-flex justify-content-end align-item-center">
      <button type="button" class="btn-view" (click)="confirm()">
        Confirm
      </button>
    </div>
  </div>
</div>
