@use "../../styles/global.scss" as *;
@use "sass:color";
@use "../../styles/font/leckerli-one/leckerli-one.scss"; // Main Styles
@use "@angular/material" as mat;

.main-panel {
  border-radius: 20px;
  padding: 2rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  .edit-btn {
    position: absolute;
    top: 0.2rem;
    right: 1rem;
    padding: 0;
    margin: 0;
    width: 2rem;
    height: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .profile-container {
    padding: 4rem 2rem;
    border-radius: 2rem;
    margin: 2rem 0rem 2rem 0rem;
    width: auto;
    height: auto;
    .image-container-btn {
      position: relative;
      overflow: hidden;
      width: auto;
      height: auto;
      max-width: 15rem;
      max-height: 15rem;
      border-radius: 100%;
      padding: 0;
      border: none;
      background: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      .image-container {
        position: relative;
        overflow: hidden;
        width: 7rem;
        height: 7rem;
        max-width: 10rem;
        max-height: 10rem;
        border-radius: 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .button-text {
      color: #fff;
      font-size: 12pt;
      font-style: italic;
      text-align: center;
      font-family: "Leckerli One", cursive;
      transition: all 0.3s ease-in-out;
    }
    .submit-btn {
      border: none;
      width: 10rem;
      height: 3rem;
      text-align: center;
      border-radius: 10rem;
      font-weight: 500;
      font-size: 14pt;
    }
    .user-detals {
      min-height: 15rem;
      padding: 2rem;
      border-radius: 2rem;
    }
  }
}

.list-group,
.list-group-item {
  background: none !important;
  border: none;
  .active-status {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
}

.bottom-btn-edit {
  min-width: 4rem;
  min-height: 2rem;
  border-radius: 2rem;
  border: none;
  font-weight: 500;
}

// Light Mode
:host-context(html.light) {
  .main-panel {
    background: linear-gradient(
      145deg,
      $light-primery-color,
      color.adjust($light-primery-color, $lightness: 2%)
    );
    color: $light-text-color;
    .edit-btn {
      ::ng-deep {
        .edit-icon {
          color: #1e1e2d;
        }
      }
    }
    .profile-container {
      background-color: #ffe394;
      box-shadow: inset 0rem 0rem 1rem 0rem #ddc47e;
      .image-container-btn {
        .image-container {
          box-shadow: -4px 0px 20px 0px #ffbf70;
        }
      }
      .button-text {
        color: #000;
      }
      .submit-btn {
        background: linear-gradient(
          90deg,
          rgb(235 151 36),
          #ffba00,
          rgb(235 151 36)
        );
        box-shadow: 0rem 0rem 0.5rem 0rem rgb(169, 169, 169);
      }
      .user-detals {
        background-color: #fef8e8;
        box-shadow: 0rem 0rem 0.5rem 0.2rem #e7cd85;
      }
    }
  }
  .list-group,
  .list-group-item {
    color: #0f1220;
    .active-status {
      .active {
        margin-left: 1rem;
        ::ng-deep {
          svg {
            fill: green;
          }
        }
      }
      .wrong {
        margin-left: 1rem;
        ::ng-deep {
          svg {
            fill: red;
          }
        }
      }
    }
  }
  .bottom-btn-edit {
    background: linear-gradient(
      90deg,
      rgb(235 151 36),
      #ffba00,
      rgb(235 151 36)
    );
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(169, 169, 169);
  }
}

// Dark Mode
:host-context(html.dark) {
  .main-panel {
    background: linear-gradient(
      145deg,
      $dark-secondary-color,
      color.adjust($dark-secondary-color, $lightness: 2%)
    );
    color: $dark-text-color;
    .edit-btn {
      ::ng-deep {
        .edit-icon {
          color: #fff;
        }
      }
    }
    .profile-container {
      background-color: #1e1e2d;
      box-shadow: inset 0rem 0rem 1rem 0rem #0f1220;
      .image-container-btn {
        .image-container {
          box-shadow: -4px 0px 20px 0px #08122f;
        }
      }
      .button-text {
        color: #fff;
      }
      .submit-btn {
        background: linear-gradient(90deg, #ae8300, #ffc107, #ae8300);
        box-shadow: 0rem 0rem 0.5rem 0rem rgb(0 0 0);
      }
      .user-detals {
        background-color: #0f1220;
        box-shadow: 0rem 0rem 0.5rem 0.2rem #151520;
      }
    }
  }
  ::ng-deep .cdk-overlay-pane {
    background-color: #08122f !important;
  }
  .list-group,
  .list-group-item {
    color: #ffffff;
    .active-status {
      .active {
        margin-left: 1rem;
        ::ng-deep {
          svg {
            fill: green;
          }
        }
      }
      .wrong {
        margin-left: 1rem;
        ::ng-deep {
          svg {
            fill: red;
          }
        }
      }
    }
  }
  .bottom-btn-edit {
    background: linear-gradient(90deg, #ae8300, #ffc107, #ae8300);
    box-shadow: 0rem 0rem 0.5rem 0rem rgb(0 0 0);
  }
}

// background-color: #08122f;
//         color: #fff;
