<app-notification-dialog></app-notification-dialog>
<app-progress-bar></app-progress-bar>
<div class="main-panel">
  <div class="container-fluid">
    <!-- Page Indicators -->

    <!-- End Page Indicators -->
    <ng-container *ngIf="complaint; else noData">
      <!-- Page title -->
      <div class="row my-3">
        <div class="col-12">
          <h3>View Complaint: {{complaint.code}}</h3>
          <hr />
        </div>
      </div>
      <!-- End page title -->

      <!-- Action buttons -->
      <div class="row d-flex justify-content-around align-items-center">
        <div
          class="col-xl-3 col-md-3 col-12 my-2 d-flex justify-content-center align-items-center"
        >
          <button
            type="button"
            class="btn btn-warning d-flex justify-content-center align-items-center"
            (click)="createComplaint()"
          >
            <mat-icon class="icon">file_copy</mat-icon> Create
          </button>
        </div>
        <div
          class="col-xl-3 col-md-3 col-12 my-2 d-flex justify-content-center align-items-center"
        >
          <button
            type="button"
            class="btn btn-success d-flex justify-content-center align-items-center"
            (click)="viewProperty()"
          >
            <mat-icon class="icon">house</mat-icon> Property
          </button>
        </div>
        <div
          class="col-xl-3 col-md-3 col-12 my-2 d-flex justify-content-center align-items-center"
        >
          <button
            type="button"
            class="btn btn-primary d-flex justify-content-center align-items-center"
            (click)="viewLease()"
          >
            <mat-icon class="icon">visibility</mat-icon> Lease
          </button>
        </div>
        <div
          class="col-xl-3 col-md-3 col-12 my-2 d-flex justify-content-center align-items-center"
        >
          <button
            type="button"
            class="btn btn-warning d-flex justify-content-center align-items-center"
            (click)="editComplaint()"
          >
            <mat-icon class="icon">create</mat-icon> Edit
          </button>
        </div>
      </div>
      <!-- End action buttons -->

      <!-- Status indicator -->
      <div class="row my-3">
        <div class="col-12">
          <app-stage-indicator
            [stages]="STATUS_STAGE"
            [currentValue]="STATUS_CURRENT_VALUE"
            [showDisabled]="false"
          ></app-stage-indicator>
        </div>
      </div>
      <!-- End status indicator -->

      <!-- Complaint title and category -->
      <div class="row my-3">
        <div class="col-xl-9 col-md-8 col-12">
          <h4 class="text-default">
            Title:<br /><span class="display-6">{{complaint.title}}</span>
          </h4>
        </div>
        <div class="col-xl-3 col-md-4 col-12">
          <h4 class="text-default">
            Category:<br /><span class="text-style"
              >{{complaint.category}}</span
            >
          </h4>
        </div>
      </div>
      <!-- End complaint title and category -->

      <div class="row my-2">
        <div class="col-12">
          <hr />
          <div class="complaint-bio">
            <div [innerHTML]="complaint.description"></div>
          </div>
        </div>
      </div>

      <!-- Divider -->
      <div class="row my-3">
        <div class="col-12">
          <hr />
        </div>
      </div>
      <!-- End Divider -->
    </ng-container>

    <div class="row my-4">
      <div class="col-12">
        <hr />
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <ng-container *ngIf="complaint">
          <app-comments-list
            [context]="{
                        section: 'Complaints',
                        subSection: undefined,
                        refId: complaint.code,
                        module: 'complaints',
                        scope: { companyId: complaint.code}
                      }"
            [mode]="'advanced'"
            [enableCounts]="true"
            [enableClientSearch]="true"
            [enableServerSearch]="true"
            [showComposer]="true"
            [limit]="6"
          ></app-comments-list>
        </ng-container>
      </div>
    </div>

    <ng-template #noData>
      <div class="image-container">
        <img
          [src]="NO_COMPLAINT_DATA"
          alt="Failed to fetch complaint data please try again"
          aria-label="failed-to-fetch-data"
        />
      </div>
    </ng-template>
  </div>
</div>
