@use "../../styles/global.scss" as *;
@use "sass:color";

.main-panel {
  border-radius: 20px;
  padding: 2rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  .main-container {
    border-radius: 2rem;
    height: 24rem;
    overflow: hidden;
    display: block;
    padding: 2rem;
    .add-user-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }
  }

  &.dark {
    background: linear-gradient(
      145deg,
      $dark-secondary-color,
      color.adjust($dark-secondary-color, $lightness: 2%)
    );
    color: $dark-text-color;
    .main-container {
      background-color: $dark-secondary-color;
      box-shadow: inset 0rem 0rem 1rem 0rem $dark-dashboard-dark-color;
      .add-user-row {
        background-color: $dark-primery-color;
        box-shadow: 0rem 0rem 1rem 0rem $dark-secondary-color;
      }
    }
  }

  &.light {
    background: linear-gradient(
      145deg,
      $light-primery-color,
      color.adjust($light-primery-color, $lightness: 2%)
    );
    color: $light-text-color;
    .main-container {
      background-color: $light-primery-color;
      box-shadow: inset 0rem 0rem 1rem 0rem $light-dashboard-dark-color;
      .add-user-row {
        background-color: #ffe394;
        box-shadow: 0rem 0rem 1rem 0rem #a3a3a3;
      }
    }
  }
}
