<app-notification-dialog #notificationComp></app-notification-dialog>
<app-progress-bar></app-progress-bar>
<div class="container-fluid">
  <form
    action=""
    method="POST"
    enctype="multipart/form-data"
    (ngSubmit)="submit()"
    class="profile-form"
    autocomplete="off"
    #userForm="ngForm"
  >
    <div class="row d-flex justify-content-center align-items-center">
      <app-dropdown (filesChange)="filesAdded($event)"></app-dropdown>
    </div>
    <div class="row mt-4 d-flex justify-content-end align-items-center">
      <div
        class="col-xl-2 col-md-3 col-12 d-flex justify-content-end align-items-center"
      >
        <button
          type="submit"
          class="btn btn-success"
          matTooltip="Upload"
          matTooltipPosition="above"
        >
          <mat-icon>cloud_upload</mat-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="row my-4">
    <div class="col-12">
      <hr />
    </div>
  </div>

  <div class="row">
    <app-custom-table
      [pagination]="true"
      [(index)]="index"
      [(limit)]="limit"
      [(search)]="search"
      [(isReload)]="isLoading"
      [columns]="columns"
      [data]="data"
      [tableTitle]="tableTitle"
      [totalDataCount]="total"
      (fetchData)="fetch()"
      (buttonOperation)="buttonCentra($event)"
    ></app-custom-table>
  </div>
</div>
