@use "../../../styles/global.scss" as *;
@use "sass:color";

.main-panel {
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  min-height: 25vh;
  padding: 2rem;

  .page-indecator {
    position: absolute;
    top: 0%;
    left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    .page-indicator-btn {
      background: none;
      border: none;
      margin: 0 0.5rem;
      padding: 0;
      cursor: pointer;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 10pt;
    }
  }

  .user-image-row {
    position: relative;
    border-radius: 1rem;
    height: 10rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
    .btn-warning {
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: 0;
      right: 0px;
      box-shadow: none;
      background: none;
      z-index: 10;
    }
    .image-container {
      position: absolute;
      bottom: -50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .user-image {
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .tenant-details {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
    li {
      margin: 0 !important;
      padding: 0.25rem 0rem !important;
    }
  }

  &.dark {
    background: linear-gradient(
      145deg,
      $dark-secondary-color,
      color.adjust($dark-secondary-color, $lightness: 2%)
    );
    color: $dark-text-color;

    .page-indecator {
      color: #e8bd00;
      .page-indicator-btn {
        color: #e8bd00;
      }
    }
    .user-image-row {
      background: linear-gradient(
        45deg,
        color.adjust($dark-third-color, $lightness: -20%),
        $dark-third-color,
        color.adjust($dark-third-color, $lightness: -20%)
      );
      .image-container {
        .user-image {
          box-shadow: 0rem 0rem 1rem 0rem $dark-dashboard-dark-color;
        }
      }
    }

    .tenant-details {
      color: #fff;
      li {
        color: #fff;
      }
    }
  }

  &.light {
    background: linear-gradient(
      145deg,
      $light-primary-color,
      color.adjust($light-primary-color, $lightness: 2%)
    );
    color: $light-text-color;

    .page-indecator {
      color: #100a2b;
      .page-indicator-btn {
        color: #100a2b;
      }
    }
    .user-image-row {
      background: linear-gradient(
        45deg,
        color.adjust($dark-primary-color, $lightness: 15%),
        color.adjust($dark-primary-color, $lightness: 10%),
        color.adjust($dark-primary-color, $lightness: 15%)
      );
      .image-container {
        .user-image {
          box-shadow: 0rem 0rem 1rem 0rem #100a2b;
        }
      }
    }
    .tenant-details {
      color: #000;
      li {
        color: #000;
      }
    }
  }
}
