@font-face {
  font-family: "cursive";
  src: url("./EduVICWANTHand-VariableFont_wght.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
// font-family: "Edu VIC WA NT Hand", cursive;

