@use "../../../styles/global.scss" as *;

.slider-track {
  position: relative;
  height: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.slider-range {
  position: absolute;
  height: 100%;
  border-radius: 4px;
}

.slider-thumb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
.high {
  transform: translate(-100%, -50%);
}

.labels {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-top: 10px;
}

:host-context(html.dark) {
  /* dark mode styles */
  .slider-track {
    background: $dark-text-color;
  }
  .slider-range {
    background: $dark-accent-gold;
  }
  .slider-thumb {
    background: $dark-accent-gold;
    border: 10px solid $dark-text-color;
    &:hover {
      background: $dark-fourth-color;
    }
  }
}

:host-context(html.light) {
  /* dark mode styles */
  .slider-track {
    background: $light-text-color;
  }
  .slider-range {
    background: $light-accent-gold;
  }
  .slider-thumb {
    background: $light-accent-gold;
    border: 10px solid $light-text-color;
    &:hover {
      background: $light-fourth-color;
    }
  }
}
