<app-notification-dialog></app-notification-dialog>
<app-progress-bar></app-progress-bar>
<div class="container-fluid">if()</div>
<!--==================================================== Templates ================================================================-->

<!-- ===================
Common Section
=================== -->

<!-- Stage indicator -->
<ng-template #statusIndicator>
  <div class="row my-3">
    <div class="col-12">
      <app-stage-indicator
        [stages]="STATUS_STAGE"
        [currentValue]="STATUS_CURRENT_VALUE"
        [showDisabled]="false"
      ></app-stage-indicator>
    </div>
  </div>
</ng-template>
<!-- End stage indicator -->

<!-- Complaint ID -->
<ng-template #complaintID>
  <div class="row my-3">
    <div class="col-12">
      <h3>Complaint ID: {{code}}</h3>
    </div>
  </div>
</ng-template>
<!-- End complaint ID -->

<!-- Divider indicator -->
<ng-template #divider>
  <div class="row my-4">
    <div class="col-12">
      <hr />
    </div>
  </div>
</ng-template>
<!-- End divider indicator -->

<!-- Action button reusable -->
<ng-template
  #actionButton
  let-text="text"
  let-icon="icon"
  let-action="action"
  let-class="class"
  let-type="type"
>
  <button
    [type]="type"
    class="btn d-flex align-items-center"
    [ngClass]="class"
    (click)="action()"
  >
    <mat-icon class="me-2">{{ icon }}</mat-icon>
    {{ text }}
  </button>
</ng-template>
<!-- End action button reusable -->
<!-- ===================
End Common Section
=================== -->

<!-- ===================
Team Tables
=================== -->
<!-- Team add -->
<ng-template #teamAddTable>
  <app-custom-table
    [(isReload)]="teamAddIsReloading"
    [(limit)]="teamAddLimit"
    [pagination]="true"
    [(index)]="teamAddIndex"
    [tableTitle]="teamAddTableTitle"
    [(search)]="teamAddSearch"
    [totalDataCount]="teamAddDataCount"
    [data]="teamAddData"
    [columns]="teamAddTableColumns"
    (fetchData)="handelFetchingOnTeamAdd()"
    (buttonOperation)="teamAddActionButtonCenter($event)"
  ></app-custom-table>
</ng-template>
<!-- End team add -->

<!-- Team remove -->
<ng-template #teamRemoveTable>
  <app-custom-table
    [(isReload)]="teamRemoveIsReloading"
    [(limit)]="teamRemoveLimit"
    [pagination]="true"
    [(index)]="teamRemoveIndex"
    [tableTitle]="teamRemoveTableTitle"
    [(search)]="teamRemoveSearch"
    [totalDataCount]="teamRemoveDataCount"
    [data]="teamRemoveData"
    [columns]="teamRemoveTableColumns"
    (fetchData)="handelFetchingOnTeamRemove()"
    (buttonOperation)="teamRemoveActionButtonCenter($event)"
  ></app-custom-table>
</ng-template>
<!-- End team remove -->
<!-- ===================
End Team Tables
=================== -->

<!-- ===================
Comments
=================== -->
<!-- Complaint comments -->
<ng-template #complaintsComments>
  <app-comments-list [code]="code" [limit]="5"></app-comments-list>
</ng-template>
<!-- End complaint comments -->

<!-- Complaint audience changer -->
<ng-template #complaintAudienceChanger>
  <mat-form-field class="w-100">
    <mat-label>Change the audience</mat-label>
    <mat-select
      name="audience"
      [(ngModel)]="audience"
      class="text-capitalize"
      required
    >
      @for (item of DEFINED_AUDIENCES; track item) {
      <mat-option [value]="item" class="text-capitalize">{{item}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</ng-template>
<!-- End complaint audience changer -->

<!-- Comment file upload -->
<ng-template #commentDropDown>
  <app-dropdown
    [multiple]="true"
    [maxFiles]="12"
    [acceptCategory]="'all'"
    [maxSizeBytes]="2 * 10 * 1024 * 1024"
    [showPreviews]="true"
    [compact]="false"
    [enablePaste]="true"
    (filesChange)="getCommentFileUploads($event)"
  >
  </app-dropdown>
</ng-template>
<!-- End comment fle upload -->

<!-- Comment admin template -->
<ng-template #commentAdmin>
  <app-text-editor
    [id]="'comment'"
    [name]="'comment'"
    [placeholder]="'Comment about complaint'"
    [(modelValue)]="comment"
  >
  </app-text-editor>
</ng-template>
<!-- End comment admin template -->

<!-- Comment tenant template -->
<ng-template #commentTenant>
  <app-textarea
    [id]="'comment'"
    [name]="'comment'"
    [placeholder]="'Comment about complaint'"
    [(text)]="comment"
  ></app-textarea>
</ng-template>
<!-- End comment tenant template -->

<!-- ===================
End Comments
=================== -->

<!-- ===================
Complaint Main Operations
=================== -->
<!-- Complaint status changer -->
<ng-template #ngComplaintStatusChanger>
  <mat-form-field class="w-100">
    <mat-label>Change the status</mat-label>
    <mat-select
      name="status"
      [(ngModel)]="status"
      class="text-capitalize"
      required
    >
      @for (item of DEFINED_STATUS; track item) {
      <mat-option [value]="item" class="text-capitalize">{{item}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</ng-template>
<!-- End complaint status changer -->

<!-- Complaint priority changer -->
<ng-template #complaintPriorityChanger>
  <mat-form-field class="w-100">
    <mat-label>Change the priority</mat-label>
    <mat-select
      name="priority"
      [(ngModel)]="priority"
      class="text-capitalize"
      required
    >
      @for (item of COMPLAINT_PRIORITIES; track item) {
      <mat-option [value]="item" class="text-capitalize">{{item}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</ng-template>
<!-- End complaint priority changer -->

<!-- Complaint title -->
<ng-template #complaintTitle>
  <mat-form-field class="w-100">
    <mat-label>Complaint Title</mat-label>
    <input
      type="text"
      matInput
      required
      [(ngModel)]="title"
      name="complaintTitle"
      #complaintTitle="ngModel"
    />
  </mat-form-field>
</ng-template>
<!-- End complaint title -->

<!-- Admin complaint description -->
<ng-template #descriptionAdmin>
  <app-text-editor
    [id]="'description'"
    [name]="'description'"
    [placeholder]="'Details about complaint'"
    [(modelValue)]="description"
  >
  </app-text-editor>
</ng-template>
<!-- End admin complaint description -->

<!-- Tenant complaint description -->
<ng-template #descriptionTenant>
  <app-textarea
    [id]="'description'"
    [name]="'description'"
    [placeholder]="'Details about complaint'"
    [(text)]="description"
  ></app-textarea>
</ng-template>
<!-- End tenant complaint description -->

<!-- ===================
End Complaint Main Operations
=================== -->
<!--==================================================== End Templates ================================================================-->
