<div class="container-fluid">
  <div class="row">
    <app-custom-table
      [pagination]="true"
      [(index)]="index"
      [(limit)]="limit"
      [(search)]="search"
      [(isReload)]="isLoading"
      [columns]="columns"
      [data]="data"
      [tableTitle]="tableTitle"
      [totalDataCount]="total"
      [fileExportExtention]="extension"
      (fileExport)="exportToExcel()"
      (fetchData)="fetch()"
      (buttonOperation)="buttonCentra($event)"
    ></app-custom-table>
  </div>
</div>
