<div
  *ngIf="mode !== null"
  class="main-panel"
  [ngClass]="mode ? 'dark' : 'light'"
>
  <div class="container-fluid position-relative my-4" *ngIf="property">
    <button type="button" class="pannel-close-btn" (click)="pannelClose()">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <!-- tab container -->
    <div class="tab-container">
      <!-- tab indicators -->
      <div class="row tab-indicator-row">
        <div
          class="col-xl-12 w-100 d-flex justify-content-center align-items-center"
        >
          <button
            type="button"
            class="mobile-menu-open-btn"
            (click)="tabOpenButtonOperation()"
          >
            <i
              [ngClass]="
                istabOpenButtonActive ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'
              "
            ></i>
          </button>
          <ul
            class="tab-list"
            [ngClass]="istabOpenButtonActive ? 'active' : ''"
          >
            <li
              *ngFor="let tab of tabIndicators; let i = index"
              [id]="'tabIndicator_' + i"
              (click)="tabMaker(i, tab)"
              class="tab-item"
              #tabElement
              [ngClass]="i === currentIndex ? 'active' : ''"
            >
              {{ tab }}
            </li>
            <div class="tab-indicator" [ngStyle]="indicatorStyle"></div>
          </ul>
          <span class="tab-indicator-devider"></span>
        </div>
      </div>
      <!-- end tab indicators -->

      <!-- tab wrapper -->
      <div class="tab-wrapper mt-5">
        <!-- Basic Property Details -->
        <div class="tab-content" *ngIf="currentIndex === 0">
          <!-- Property Title -->
          <div class="row">
            <div class="col-xl-12">
              <h1 class="text-capitalize">{{ property.title }}</h1>
            </div>
          </div>
          <!-- End Property Title -->

          <!-- Property Listing and Type -->
          <div class="row">
            <div class="col-xl-12 d-flex">
              <ul class="lists">
                <li>{{ property.listing }}</li>
                <li>{{ property.type }}</li>
              </ul>
            </div>
          </div>
          <!-- End Property Listing and Type -->

          <div class="row my-5">
            <div class="col-xl-12">
              <div [innerHTML]="property.description"></div>
            </div>
          </div>
        </div>
        <!-- End Basic Property Details -->

        <!-- Location Details -->
        <div class="tab-content" *ngIf="currentIndex === 1">
          <!-- Address -->
          <div class="row">
            <div class="col-xl-12">
              <h1 class="text-capitalize mb-3">Property Address</h1>
              <div class="address-details">
                <p class="text-capitalize">
                  {{ property.address.houseNumber }},
                </p>
                <p class="text-capitalize">{{ property.address.city }},</p>
                <p class="text-capitalize">{{ property.address.street }},</p>
                <p class="text-capitalize">
                  {{ property.address.stateOrProvince }},
                </p>
                <p class="text-capitalize">{{ property.address.country }},</p>
                <p class="text-capitalize">{{ property.address.postcode }}.</p>
              </div>
            </div>
          </div>
          <!-- End Address -->

          <!-- Map -->
          <div class="row">
            <div class="col-xl-12">
              <h1 class="text-capitalize mt-3">Property Location</h1>
              <div class="my-5 map-container-main">
                <iframe
                  name="location"
                  title="location"
                  [src]="
                    'https://www.google.com/maps?q=' +
                      property.location?.lat +
                      ',' +
                      property.location?.lng +
                      '&hl=en&z=14&output=embed' | safeUrl
                  "
                  width="100%"
                  height="500"
                  style="border: 0"
                  allowfullscreen="true"
                  loading="lazy"
                ></iframe>
                <!-- <app-map
                  [mode]="mode"
                  (locationSelected)="onLocationPicked($event)"
                ></app-map> -->
              </div>
            </div>
          </div>
          <!-- End Map -->
        </div>
        <!-- End Location Details -->

        <!-- Property Specifications -->
        <div class="tab-content" *ngIf="currentIndex === 2">
          <div
            class="row d-flex justify-content-center align-items-center my-4"
          >
            <div class="col-xl-12">
              <div class="specs-card p-4 shadow-sm rounded-4 list-container">
                <h5 class="mb-3 fw-bold">Property Specifications</h5>
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center px-3 py-2"
                    *ngFor="let spec of propertySpecs; trackBy: trackByKey"
                  >
                    <span class="fw-medium text-secondary">
                      {{ getKey(spec) }}
                    </span>
                    <span
                      class="text-dark text-end"
                      [innerHTML]="spec[getKey(spec)]"
                    ></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End Property Specifications -->

        <!-- Construction & Age -->
        <div class="tab-content" *ngIf="currentIndex === 3">
          <div class="row d-flex justify-content-center align-item-center">
            <div class="col-xl-12">
              <div class="specs-card p-4 shadow-sm rounded-4 list-container">
                <h5 class="mb-3 fw-bold">Construction & Age</h5>
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center px-3 py-2"
                    *ngFor="let spec of constructionSpecs; trackBy: trackByKey"
                  >
                    <span class="fw-medium text-secondary">
                      {{ getKey(spec) }}
                    </span>
                    <span
                      class="text-dark text-end"
                      [innerHTML]="spec[getKey(spec)]"
                    ></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End Construction & Age -->

        <!-- Financial Details -->
        <div class="tab-content" *ngIf="currentIndex === 4">
          <div class="row d-flex justify-content-center align-item-center">
            <div class="col-xl-12">
              <div class="specs-card p-4 shadow-sm rounded-4 list-container">
                <h5 class="mb-3 fw-bold">Financial Details</h5>
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center px-3 py-2"
                    *ngFor="let spec of financeSpecs; trackBy: trackByKey"
                  >
                    <span class="fw-medium text-secondary">
                      {{ getKey(spec) }}
                    </span>
                    <span
                      class="text-dark text-end"
                      [innerHTML]="spec[getKey(spec)]"
                    ></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End Financial Details -->

        <!-- Listing Management -->
        <div class="tab-content" *ngIf="currentIndex === 5">
          <div class="row d-flex justify-content-center align-item-center">
            <div class="col-xl-12">
              <div class="specs-card p-4 shadow-sm rounded-4 list-container">
                <h5 class="mb-3 fw-bold">Property Listing</h5>
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center px-3 py-2"
                    *ngFor="let spec of listingSpecs; trackBy: trackByKey"
                  >
                    <span class="fw-medium text-secondary">
                      {{ getKey(spec) }}
                    </span>
                    <span
                      class="text-dark text-end"
                      [innerHTML]="spec[getKey(spec)]"
                    ></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End Listing Management -->

        <!-- Administrative & Internal Use -->
        <div class="tab-content" *ngIf="currentIndex === 6">
          <div class="row my-4">
            <div class="col-xl-12">
              <h1 class="title">Administrative & Internal Use:</h1>
            </div>
          </div>
          <div class="row d-flex justify-content-center align-item-center mb-5">
            <div class="col-xl-12">
              <div class="specs-card p-4 shadow-sm rounded-4 list-container">
                <h5 class="mb-3 fw-bold">Administrative</h5>
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center px-3 py-2"
                    *ngFor="let spec of statusSpecs; trackBy: trackByKey"
                  >
                    <span class="fw-medium text-secondary">
                      {{ getKey(spec) }}
                    </span>
                    <span
                      class="text-dark text-end"
                      [innerHTML]="spec[getKey(spec)]"
                    ></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <h4>Internal use</h4>
              <hr />
            </div>
          </div>
          <div class="row my-4">
            <div class="col-xl-12">
              <div
                class="internal-use"
                [innerHTML]="property.internalNote"
              ></div>
            </div>
          </div>
        </div>
        <!-- End Administrative & Internal Use -->
      </div>
      <!-- End tab wrapper -->
    </div>
    <!-- End tab container -->
  </div>
</div>
