<app-top-progress-bar></app-top-progress-bar>

<div class="dashboard-container">
  <!-- Menu Icon -->
  <div
    class="menu-icon"
    (click)="mobileMenuOpen()"
    [class.open]="isMobileMenuOpen"
  >
    <button type="button">
      <span class="menu-bar"></span>
      <span class="menu-bar"></span>
      <span class="menu-bar"></span>
    </button>
  </div>

  <!-- Sidebar -->
  <aside
    [ngClass]="{
      sidebar: true,
      collapsed: !isExpanded,
      dark: mode,
      light: !mode
    }"
  >
    <!-- Rendering 01 -->
    <app-list-main-panel
      *ngIf="!isMobile"
      [isMobile]="isMobile"
    ></app-list-main-panel>
  </aside>

  <!-- Navbar -->
  <header [ngClass]="{ 'dashboard-navbar': true, dark: mode, light: !mode }">
    <nav class="navbar navbar-expand-xl w-100">
      <div class="container-fluid w-100">
        <div class="row w-100">
          <div
            class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-center"
          >
            <img
              src="/Images/company-images/cover-no-bg.webp"
              alt="Logo"
              class="logo me-2"
            />
          </div>
          <div
            class="col-xl-8 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center align-items-center"
          >
            <!-- <h2 class="title text-center">PropEase Dashboard</h2> -->
          </div>
          <div
            class="col-xl-2 col-lg-3 col-md-2 col-sm-12 d-flex justify-content-between align-items-center"
          >
            <div class="col-6 d-flex justify-content-end align-items-center">
              <app-notification></app-notification>
            </div>

            <div class="col-6 d-flex align-items-center justify-content-end">
              <button
                class="user-image-btn"
                title="User Profile"
                (click)="menuOpen = !menuOpen"
              >
                <app-skeleton-loader
                  *ngIf="isLoading; else userImage"
                  [Mode]="mode"
                  [width]="'4rem'"
                  [height]="'4rem'"
                  [borderRadius]="'100%'"
                />
                <ng-template #userImage>
                  <img
                    src="{{ user?.image }}"
                    alt="User Profile"
                    class="user-image"
                  />
                </ng-template>
              </button>
              <app-user-info-panel
                *ngIf="menuOpen"
                (closePanel)="menuOpen = false"
              />
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- <div class="d-flex justify-content-between align-items-center w-100 px-4">
      <div class="d-flex align-items-center">
        <img
          src="/Images/company-images/cover-no-bg.webp"
          alt="Logo"
          class="logo me-2"
        />
        <app-mode-changer></app-mode-changer>
      </div>
    </div> -->
  </header>

  <!-- Main Content -->

  <main [ngClass]="{ 'main-content': true, dark: mode, light: !mode }">
    <div class="dashboard-main-container"><router-outlet></router-outlet></div>
  </main>
</div>

<!-- Mobile version menu -->
<div class="mobile-menu" [class.menu-open]="isMobileMenuOpen">
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="d-flex justify-content-between align-items-center w-100 px-4">
        <div class="d-flex align-items-center">
          <button
            class="user-image-btn"
            title="User Profile"
            (click)="openMenu()"
          >
            <app-skeleton-loader
              *ngIf="isLoading; else userImage"
              [Mode]="mode"
              [width]="'4rem'"
              [height]="'4rem'"
              [borderRadius]="'100%'"
            />
            <ng-template #userImage>
              <img
                src="{{ user?.image }}"
                alt="User Profile"
                class="user-image"
              />
            </ng-template>
          </button>
          <app-user-info-panel
            *ngIf="menuOpen"
            (closePanel)="onProfilePanelClosed($event)"
          />
        </div>
        <div class="d-flex align-items-center">
          <img
            src="/Images/company-images/cover-no-bg.webp"
            alt="Logo"
            class="logo me-2"
          />
          <app-mode-changer></app-mode-changer>
        </div>
      </div>
    </div>
    <!-- Rendering 02 -->
    <app-list-main-panel
      *ngIf="isMobile"
      (closeMobileMenu)="mobileMenuOpenFromLink($event)"
      [isMobile]="isMobile"
    ></app-list-main-panel>
  </div>
</div>
