@use "../../styles/global.scss" as *;

.dashboard-wrapper-light {
  padding: 2rem;
  background: linear-gradient(to right, #f0f4f8, #e8efff);
}

.dashboard-wrapper-dark {
  padding: 2rem;
  background: linear-gradient(to right, #101325, #1f1f2e);
}

.dashboard-navbar {
  background-color: transparent;
  padding: 1rem 2rem;
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);

  .user-image-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: rgba(200, 200, 200, 0.1);
    }

    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }

  .navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: $dark-third-color;
    .logo {
      width: auto;
      height: 50px;
      margin-right: 10px;
      object-fit: cover;
    }
  }
}
