<app-top-progress-bar></app-top-progress-bar>
@if(user){
<ng-container>
  <!-- Mobile: hamburger -->
  <div
    class="menu-icon"
    (click)="isMobileMenuOpen = true"
    aria-label="Open menu"
  >
    <mat-icon>menu</mat-icon>
  </div>

  <!-- Fullscreen Mobile Menu -->
  <app-fullscreen-menu
    [open]="isMobileMenuOpen"
    [links]="linkLists"
    [profile]="userProfileData"
    [currentUrl]="currentFullURL"
    (navigate)="onMenuNavigate($event)"
    (closed)="isMobileMenuOpen = false"
  >
  </app-fullscreen-menu>
</ng-container>

<div class="dashboard-container">
  <!-- Desktop Navbar -->
  <header class="dashboard-navbar">
    <div class="company-logo">
      <img [src]="noBGImage" alt="Logo" class="logo me-2" />
    </div>
    <div class="empty-area"></div>
    <div class="notification">
      <app-notification></app-notification>
    </div>
    <div class="userimage">
      <button
        class="user-image-btn"
        title="User Profile"
        type="button"
        (click)="menuOpen = !menuOpen"
      >
        <app-skeleton-loader
          *ngIf="isLoading; else userImage"
          [Mode]="mode"
          [width]="'4rem'"
          [height]="'4rem'"
          [borderRadius]="'100%'"
        />
        <ng-template #userImage>
          <img
            #userDesktopImage
            [src]="sanitizeURL(user.image)"
            alt="User Profile"
            class="user-image"
            (error)="detectImageError($event)"
            aria-label="User profile image"
          />
        </ng-template>
      </button>

      <app-user-info-panel *ngIf="menuOpen" (closePanel)="menuOpen = false" />
    </div>
  </header>

  <div class="body" [class.collapsed]="collapsed">
    <aside class="menu">
      <app-list-main-panel
        [collapsed]="collapsed"
        (collapsedChange)="detectCollapse($event)"
      ></app-list-main-panel>
    </aside>

    <main class="content">
      <div class="sub-content">
        <div class="my-3">
          <app-breadcrumbs class="page-indicator"></app-breadcrumbs>
        </div>
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
}
